body {
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.scrollTopButton {
  position: fixed;
  height: 30px;
  width: 30px;

  display: none;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  bottom: 20px;
  right: 20px;

  border: 2px solid black;
  background-color: black;

  overflow: hidden;
  z-index: 2;
}
.scrollTopButton.visible {
  display: flex;
}

.scroll {
  position: fixed;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin: 0;

  z-index: 1;
}

.scrollUpButton {
  height: 20px;
  width: 20px;

  display: none;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 0;

  border: 2px solid black;
  border-radius: 50%;
  background-color: black;

  overflow: hidden;
}
.scrollUpButton.visible {
  display: flex;
}

.scrollDownButton {
  height: 20px;
  width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 0;

  border: 2px solid black;
  border-radius: 50%;
  background-color: black;

  overflow: hidden;
}
.scrollDownButton.visible {
  display: none;
}

.ripple {
  height: 40px;
  width: 40px;

  border: 2px solid white;
  border-radius: 50%;
  transform: scale(0);
}
.ripple.visible {
  transform: scale(1);
  transition: transform 0.3s;
}

.hero {
  height: 100vh;
  background-color: grey;
}

.projets {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: lightblue;
}

.slider {
  height: 70%;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(5, 97, 75, 1);

  overflow: hidden;
  z-index: 2;
}

.projet {
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  margin: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0.5;
  z-index: 2;
}
.projet:hover {
  height: 140%;
  animation: focus 0.7s forwards;
}
@keyframes focus {
  0%   {}
  50%  {transform: translateY(-100px);}
  100% {transform: scale(1.2) translateY(-100px);
        opacity: 1;}
}

.cv {
  height: 100vh;

  display: flex;

  background-color: grey;
}

.skills {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  margin: 20px;
}

.experience {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  margin: 20px;
}

.interests {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  margin: 20px;
}

.about {
  height: 100vh;
  background-color: lightblue;
}
