@font-face {
  font-family: mylodon;
  src: url(../font/Mylodon-Light.otf);
}

body {
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scrollTopButton {
  position: fixed;

  display: none;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  bottom: 20px;
  right: 20px;

  border: 2px solid black;
  border-radius: 50%;
  background-image: url('../img/arrow-top.png');

  overflow: hidden;
  z-index: 2;
}
.scrollTopButton.visible {
  display: flex;
}

.ripple {
  height: 40px;
  width: 40px;

  border: 2px solid white;
  border-radius: 50%;
  transform: scale(0);
}
.ripple.visible {
  transform: scale(1);
  transition: transform 0.3s;
}

nav {
  position: fixed;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transform: translateX(-100vw);
  transition: transform 700ms;

  background-image: url('../img/nav.jpg');
  background-repeat: no-repeat;
  background-size: auto;

  z-index: 4;
}
nav.visible {
  transform: translateX(0);
  transition: transform 700ms;
}

nav a:link {
  font-family: mylodon;
  font-size: 3em;
}
nav a:visited {
  color: white;
}
nav a:active {
  color: red;
}

.hero {
  height: 100vh;
  background-image: url('../img/hero.jpg');
  background-size: cover;
}

#logo {
  position: fixed;
  max-height: 10vh;
  max-width: auto;

  margin : 20px;

  z-index: 5;
}

.accroche {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: mylodon;
  font-size: 5em;
}
.accroche p {
  font-size: 1.5em;
  text-align: center;
}

.cv {
  height: 100vh;

  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.titres {
  width: 100%;
  font-family: mylodon;

  display: flex;
  justify-content: space-around;

  padding-top: 20px;
}
.titres > h2 {
  width: 33vw;
  text-align: center;
}

.wrapperCV {
  height: 85vh;

  display: flex;
}

.skills {
  height: 100%;
  width: 33vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 20px;

}

.skill {
  width: 50%;
}
.skill > p {
  text-align: center;
}

.experience {
  height: 100%;
  width: 33vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 20px;
}

.chaqueXP {
  height: 90%;
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.xp {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}


.barreVide {
  height: 20px;
  width: 100%;

  border: 5px solid black;
}
.barreRemplie {
  height: 100%;

  background-color: #32967A;
  opacity: 0;

  transform: translateX(-20vw);
}
.barreRemplie.visible {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.7s, opacity 2s;

}

#uxMethodo {
  width: 80%;
}
#frontEnd {
  width: 65%;
}
#techWatch {
  width: 70%;
}

#carrefourRecep {
  height: 100%;
  width: 60%;
}
#inter {
  height: 100%;
  width: 100%;
}
#carrefourEmpCom {
  height: 100%;
  width: 45%;
}
#toupargel {
  height: 100%;
  width: 100%;
}

.echelleTemps {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.interests {
  height: 100%;
  width: 33vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 20px;
}
.interestsIMG {
  max-height: 50px;
  max-width: auto;
}

.jdr, .sportCombat, .gamer, .escalade {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.jdr > p, .sportCombat > p, .gamer > p, .escalade > p {
  text-align: center;
}

.projets {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.slider {
  height: 70%;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgb(26, 26, 26);
  opacity: 0.8;

  overflow: hidden;
  z-index: 2;
}

.projet {
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  margin: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 2;
}
.projet:hover {
  height: 140%;
  opacity: 1;
  transform: scale(1.2);
  transition: 0.7s;
}
.projet img {
  height: 300px;
  width: auto;
}
.projet > p {
  text-align: center;
}

.insideProject {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.workshop1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  height: 100vh;
  width: 100vw;

  background-color: rgb(26, 26, 26);
  transform: scale(0);
  transition: transform 0.7s;

  z-index: 3;
}
.workshop1.visible {
  transform: scale(1);
  transition: transform 0.7s;
}

.abc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  height: 100vh;
  width: 100vw;

  background-color: rgb(26, 26, 26);
  transform: scale(0);
  transition: transform 0.7s;

  z-index: 3;
}
.abc.visible {
  transform: scale(1);
  transition: transform 0.7s;
}
.abc img {
  max-width: 40vw;
  max-height: 40vh;
}
.abc .images {
  display: flex;
  justify-content: space-around;
}
.before .after {
  width: 40vw;
}

.pap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  height: 100vh;
  width: 100vw;

  background-color: rgb(26, 26, 26);
  transform: scale(0);
  transition: transform 0.7s;

  z-index: 3;
}
.pap.visible {
  transform: scale(1);
  transition: transform 0.7s;
}
.papImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 70vh;
}
.pap img {
  max-height: 40vh;
  max-width: 40vw;
}

.about {
  height: 100vh;
  background-image: url('../img/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about p {
  font-size: 1.5em;
}

.about > a {
    z-index: 2;
}
#linkedin {
  max-height: 10vh;
  max-width: auto;
}


@media (max-width: 1023px) {
  .cv {
    width: 300vw;
    overflow-x: scroll;
  }

  .titres, .wrapperCV {
    width: 300vw;
    height: auto;
  }

  .scrollLeft {
    position: absolute;
    left: 5vw;
    top: 150vh;

    background-color: black;
    border: solid black 2px;
    height: 1vh;
    width: 1vw;
  }
  .scrollRight {
    position: absolute;
    left: 95vw;
    top: 150vh;

    background-color: black;
    border: solid black 2px;
    height: 1vh;
    width: 1vw;
  }

  .skills {
    width: 100vw;
  }

  .experience {
    width: 100vw;
    left: 100vw;

    /* height: 100%; */
  }

  .interests {
    width: 100vw;
    left: 200vw;
  }
}
